<%- include ('./partials/header') %>

<div>Welcome</div>
<br>
<ul id="messages"></ul>
    <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." />
    <br>
    <button id="sendButton" onclick="test()">Send</button>


<form action="/lobby1" method="POST">
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Enter Lobby 1</button>
    </div>
</form>
<form action="/lobby2" method="POST">
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Enter Lobby 2</button>
    </div>
</form>
<form action="/lobby3 method="POST">
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Enter Lobby 3</button>
    </div>
</form>
<form action="/lobby4" method="POST">
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Enter Lobby 4</button>
    </div>
</form>
<script>
    var socket = io.connect('http://localhost:8080');
    // submit text message without reload/refresh the page
    // console.log( document.getElementById('sendButton')); 
    function test(){
        socket.emit('chat_message', $('#txt').val());
        $('#txt').val('');
    };
    // append the chat text message
    socket.on('chat_message', function(msg){
        document.getElementById('messages').append($('<li>').html(msg)[0].innerText);
    });
    // append text if someone is online
    socket.on('is_online', function(username) {
        // console.log($('<li>').html(username)[0].innerText)
        document.getElementById('messages').append($('<li>').html(username)[0].innerText);
    });
    // ask username
    var username = prompt('Please tell me your name');
    socket.emit('username', username);
</script>

<%- include ('./partials/footer') %>
