<%- include ('./partials/header') %>

<div>Lobby 4: </div>
<p>
    <a href="/dashboard">go to dashboard</a>
</p>
<p>
    <container>
        <!-- <iframe src="https://www.crazygames.com/embed/plumber" style="width: 800px; height: 645px;" frameborder="0"></iframe> -->
        <div>
            <script src="https://cdn.htmlgames.com/embed.js?game=1010Classic&amp;bgcolor=white"></script>
            </div>
    </container>
</p>

<%- include ('./partials/footer') %>
