<%- include ('./partials/header') %>

<div>Lobby 1: </div>
<p>
    <a href="/dashboard">go to dashboard</a>
</p>
<p>
    <container>
        <iframe src="https://www.crazygames.com/embed/plumber" style="width: 800px; height: 645px;" frameborder="0"></iframe>
    </container>
</p>

<%- include ('./partials/footer') %>
