<%- include ('./partials/header') %>

<div>Lobby 3: </div>
<p>
    <a href="/dashboard">go to dashboard</a>
</p>
<p>
    <container>
        <div>
            <script src="https://cdn.htmlgames.com/embed.js?game=MergeIt&amp;bgcolor=white"></script>
            </div>
    </container>
</p>

<%- include ('./partials/footer') %>
