<%- include ('./partials/header') %>
<div class="container-fluid">
    <header class="jumbotron">
        <h1> User Registeration !</h1>
    </header>
    <div class="container-fluid">
        <form action="/register" method="POST">
            <div class="form-group">
              <label for="User name">User Name</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="username">
              <small id="username" class="form-text text-muted">Enter your unique username.</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

<%- include ('./partials/footer') %>